# ========================
# APP Settings
# ========================
APP_NAME=Fa3liat
JWT_KEY=your_jwt_key_here
JWT_REKEY=your_jwt_refresh_key_here
NODE_ENV=development
HOSTNAME=localhost
PUBLIC_HOST=localhost
BIND_HOST=0.0.0.0
PROTOCOL=http
PORT=8000
APP_URL=http://localhost:8000
STORAGE_TYPE=local
APP_CURRENCY=USD

# ========================
# Database Settings
# ========================
DATABASE_URL=postgresql://username:password@localhost:5432/database_name

# ========================
# Mail Settings
# ========================
MAIL_SERVER=mailhog
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
MAIL_FROM="no-reply@example.com"

# ========================
# Newsletter Settings
# ========================
NEWSLETTER_CONFIRMATION_SUCCESS_URL=/ar/newsletter/confirmation
NEWSLETTER_CONFIRMATION_ALREADY_SUBSCRIBED_URL=/ar/newsletter/already-subscribed
NEWSLETTER_CONFIRMATION_FAILURE_URL=/ar/newsletter/failure
NEWSLETTER_JWT_KEY=kboe24DnOZ98@k*kQ!l
NEWSLETTER_JWT_EXPIRY=1h

# ========================
# Redis Settings
# ========================
REDIS_URL=redis://127.0.0.1:6379

# ========================
# Frontend Settings
# ========================
FRONT_URL=http://localhost:3000

# ========================
# Google Maps API Key
# ========================
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# ========================
# Google OAuth Settings
# ========================
CLIENT_ID=326770524087-prkq21vsck5cgt51p8c1qpj0ffm3c4mp.apps.googleusercontent.com
CLIENT_SECRET=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
CALLBACK_URL=/api/v1/auth/google/callback
GOOGLE_REDIRECT_URL=http://localhost:5173/ar/google/callback

# ========================
# Stripe Settings
# ========================
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret_here
STRIPE_API_KEY=sk_test_your_stripe_api_key_here
SUCCESS_ROUTE=/ar/payment/success
CANCEL_ROUTE=/ar/payment/cancel

# ========================
# OpenAI Settings
# ========================
AI_API_KEY=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

# ========================
# AI & Vector Search Settings
# ========================
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=nomic-embed-text-v2-moe:latest
OLLAMA_DIMENSION=768